/* fontes */
@font-face {
    font-family: "Unbounded";
    src: url("../fontes/Unbounded/Unbounded-VariableFont_wght.ttf")
    format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("../fontes/Poppins/Poppins-Regular.ttf")
    format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Reset */

*{
    margin: 0px;
    padding: 0px;
}

/* Estilo Desktop*/

body{
    background-color: black;
    color: #ffffff;
}
header img{
    display: block;
    margin-top: 75px;
    margin-left: 360px;
}
h1{
    font-family: "Unbounded", sans-serif;
    font-size: 62clepx;
    font-weight: bold;
    margin: 24px;
    text-align: center;
}
h1 span{
    color: #9747FF;
    font-family: "Unbounded", sans-serif;
    font-size: 56px;
}

p{
    display: block;
    font-size: 28px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    width: 792px;
    margin: 24px auto 0;
}

a{
    display: block;
    color: #ffffff;
    background-color: #9747FF;
    border-radius: 36px;
    font-size: 28px;
    text-decoration: none;
    width: 340px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    margin: 40px auto;
}
a:hover{
    background-color: #8233E8;
}
section img{
    display: block;
    margin: auto;
}


@media(max-width: 768px){
    header img{
    margin-top: 66px;
    margin-left: 60px;
    }
    h1, p{
        width: 648px;
    }
    a{
        width: 340px;
    }
}
@media(max-width: 375px){
    header img{
        margin-top: 32px;
        margin-left: 16px;
    }
    h1{
        font-size: 40px;
        width: 341px;
    }
    p{
        font-size: 20px;
        width: 341px;
    }
    a{
        font-size: 20px;
        width: 251px;
    }
    section img{
        width: 341px;
        height: 230px;
    }
}